<h1>List of User "Index Page"</h1>
<table style="width: 100%">
  <thead>
    <tr>
      <td><strong>Image</strong></td>
      <td><strong>Name</strong></td>
      <td><strong>Number of Posts</strong></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <img src="#{<%= user.photo %>}" alt="User Img" />
      </td>
      <td><a href="http://localhost:3000/users/<%= user.id %>"><%= user.name %></a></td>
      <td><%= user.posts_counter %></td>
    </tr>
    <% end %>
  </tbody>
</table>
